---
import Layout from "../layouts/Layout.astro";
import BaumkuchenLogo from "../components/BaumkuchenLogo.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col min-h-screen bg-space-cadet p-6">
    <div class="bg-isabelline flex-grow flex flex-col">
      <div class="flex p-12 mt-auto items-center gap-8">
        <div class="w-16 h-16">
          <BaumkuchenLogo />
        </div>
        <div class="w-1 h-24 bg-space-cadet"></div>
        <h1 class="text-6xl font-bold font-serif">Baumkuchen Financial Labs</h1>
      </div>
    </div>
  </main>
</Layout>
