---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<a href={href}>
  <div class="w-72 h-72 p-8 flex flex-col gap-8 font-major-mono justify-center items-center">
    <h2 class="text-3xl">{title}</h2>
    <div class="w-16 h-16">
      <slot />
      <!-- icon -->
    </div>
  </div>
</a>
